:root {
    --first-color: #63c5da;
    --second-color: #d49dc1;
    --border-radius: 45px;

}


body {
    background-color: var(--first-color)
      
}

.ball {
    width: 100px;
    height: 100px;
    background-color: var(--second-color)
    border-radius: var(--border-radius)

}
